*Google fonts*/

*{
	
	box-sizing: border-box;
	outline: none;
}
body{
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	color: #000;
	overflow-x: hidden;
	overflow: hidden;
	background-color: #fff;
    margin: 0;
}

header{
    margin-top: -20px;
    background-color: #808080;

}
.header-inner h1{
    color: #fff;
    margin: 10px;
    font-size: 30px;
    font-family: Century Gothic;
	letter-spacing: 2px;
    font-weight: 900;

    
}
.header-inner h1 span{
	color: black;
	font-size: 50px;
}
.header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
	margin: 10px auto;
}
header ul li{
	display: inline-block;
	margin: 0 25px;
}
header ul li:last-child{
	margin-right: 0;
}
header ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
}
header ul li a:hover{
	color:#fff;
}
.common{
	padding: 40px 0;
	min-height: 100vh;
	position: relative;
}
.home-inner{
	display: flex;
	justify-content: left;
	margin-left: 100px;
	align-items: center;
}
.home .text{
	max-width: 350px;
	text-align: left;
	margin-right: 60px;
}


.home h1{
	font-size: 19px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
	margin: 0;
}
.home h1 span{
	color:red;
	font-size: 30px;
	margin: 0
}
.home p{
	font-size: 16px;
	line-height: 30px;
	color: #000;
	margin: 30px 0 60px;
}
.home a{
    color: #000;
}
.home img{
    width: 90%;
    height: 60%;
    margin-left: 60px;
	align-items: center;
	opacity: 0.3;
}
.home .btn{
	font-size: 13px;
	color: #000;
	text-decoration: none;
	padding: 10px 15px;
	border:  2px solid #000;
    border-radius: 5em;

}
.home .btn:hover{
	background-color: #000;
    color: #fff;
}
.img{
	width: 440px;
	height: auto;
}
.home .form{

    background-color: 	#A9A9A9; 
    position: absolute;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
	top: 80px;
	left:980px;
	width: 350px;
	height: auto;

}
.home .form h2{
    
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    border-radius: 30px;
	padding: 5px;
	margin: 20px;
}

.List ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	margin-left: 50px;
	font-weight: 900;
	

}

.List ul li{
	display:grid;	
	margin-bottom: 20px;
}
.button {
	background-color: white;
	border: 2px solid black;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: black;
	margin-top: 10px;
	display: inline-block;

}
.button:hover{
	background-color: black;
	color: white;
	border: 2px solid white;
}
.bg-modal {
	
	width: 100%;
	height: 100%;
	position:relative;
	top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 400px;
	width: 400px;
	background-color: #C8C8C8;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 2rem;
}
.modal-contents h1{
	font-size: 30px;
}
.modal-contents form span{
	font-size: 20px;
}
.link{
	text-decoration: none;
}
input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 0.3rem;
}
